@import url('../backend/css/common/main.css');
@import url('../backend/css/common/main.bundle.css');
@import url('../backend/css/vendor/bootstrap.css');
@import url('../backend/css/layouts/vertical/themes/theme-a.css');

.overflow-y-auto {
    overflow-y: auto;
}

.order-confirmed-modal {
    background: #F2994A;
    background: -webkit-linear-gradient(to top, #F2C94C, #F2994A);
    background: linear-gradient(to top, #F2C94C, #F2994A);
}

    .order-confirmed-modal .modal-content {
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
    }

    .order-confirmed-modal .modal-title {
        font-size: 30px;
        font-weight: bold;
    }

.order-number {
    color: #e48635;
}

.order-detail .order-img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
}

    .order-detail .order-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.order-detail-desc {
    flex: 1 1 auto;
}

    .order-detail-desc p,
    .order-detail-price span,
    .order-time span,
    .order-time p {
        font-weight: 500;
        font-size: 14px;
    }

.order-time span {
    font-weight: bold;
}

.order-detail-desc span {
    font-size: 12px;
}

.pay-username:before {
    content: '';
    width: 7px;
    background: #419ae6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    box-shadow: 4px 0px 4px -2px #419ae68f;
}